# Node.js / React
node_modules/
build/
dist/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage

# FastAPI / Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
venv/
.env
*.env
instance/
.mypy_cache/
.pytest_cache/
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db